@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Supreme-Variable';
  src: url('/fonts/Supreme-Variable.woff2') format('woff2'),
    url('/fonts/Supreme-Variable.woff') format('woff'),
    url('/fonts/Supreme-Variable.ttf') format('truetype');
  font-weight: 100 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceGrotesk-Variable';
  src: url('/fonts/SpaceGrotesk-Variable.woff2') format('woff2'),
    url('/fonts/SpaceGrotesk-Variable.woff') format('woff'),
    url('/fonts/SpaceGrotesk-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Rajdhani-Variable';
  src: url('/fonts/Rajdhani-Variable.woff2') format('woff2'),
    url('/fonts/Rajdhani-Variable.woff') format('woff'),
    url('/fonts/Rajdhani-Variable.ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
